# **ASSIGNMENT 2 - DATA STRUCTURES**

## ***DATA TYPES AND STRUCTURES QUESTIONS***

1. What are data structures, and why are they important?
  - data structure is a way of organising and storing data, so it can be accessed and manipulated efficiently.
  example => list, dictionary, sets, tuple.

---
2. Explain the difference between mutable and immutable data types with examples.
  - Mutable data types are those data types whose values can be changed or manipulated even after assignment whereas, Immutable data types are those whose value can't be changed once assigned.
  Mutable e.g. : list, dictionary
  Immutable e.g. : tuple, string

---
3. What are the main differences between lists and tuples in Python?
  - The main difference is List is mutable data type and Tuple is immutable data type. Also Lists uses more memory as compared to tuple therefore comparitevely slower then Tuples.

---
4. Describe how dictionaries store data.
  - Dictionaries store data in a "key-value pair" where the key is used to access its corresponding value.

---
5.  Why might you use a set instead of a list in Python?
  - Set can be used where there is need of unique values, like storing Roll number or Customer id, because each value will be unique and no duplicacy is allowed. List allows duplicate element.

---
6. What is a string in Python, and how is it different from a list?
  - String is a sequence of characters used to represent textual data and manipulate too. It is a immutable data structure.
  Lists are mutable and can store elements of different data types, its elements can be added, removed or changed.

---
7. How do tuples ensure data integrity in Python?
  - As tuple is immutable, so no change or manipulation can be performed on it, therefore resulting in data integrity.

---
8.  What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores data using a key and a hash function. Dictionaries are implemented using hash tables, allowing for fast access of values using keys (average time complexity: O(1)).

---
9.  Can lists contain different data types in Python?
  - Yes, List can contain different data types.

---
10. Explain why strings are immutable in Python.
  - Strings are immutable in Python to ensure security and increase code reliability. If you try to modify the string, Python creates a new string instead of changing the original.

---
11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries store the data in key-value pair method which is useful if you are storing multiple data of a single element and want to access it like if key is "rollNo", then we can access its values => name, class, marks etc. whereas in list each element is stored separately.

---
12.  Describe a scenario where using a tuple would be preferable over a list.
  - Tuple should be used where there is need of data integrity like storing key which can't be changed but list is mutable so we cannot use list for secure storing.

---
13. How do sets handle duplicate values in Python?
  - Sets automatically removes all the duplicate values and store unique sets of element.

---
14.  How does the “in” keyword work differently for lists and dictionaries?
  - List => in is used to traverse through each element
  Dictionary => in is used to traverse through keys of the dictionary, not the values(which can be accessed using those keys).

---
15. Can you modify the elements of a tuple? Explain why or why not.
  - No we cannot modify the elements of tuple because it is a immutable data structure in Python, which doesn't allow to change or manipulate elements in tuple once assigned.

---
16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary within another dictionary which is mainly used to store complex data.
  example: student = {"name": "Ritesh", "marks": {"math": 90, "science": 85}}


---
17. Describe the time complexity of accessing elements in a dictionary.
  - Accessing elements in a dictionary has an average time complexity of O(1) due to its hash table implementation.

---
18.  In what situations are lists preferred over dictionaries?
  - List is preferred over dictionaries when the order of elements is needed and where index-based access is required.

---
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are considered unordered because it cannot be accessed using index, it can only be accessed using the keys which are present.

---
20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - We can access data in list using index value as it is ordered, whereas dictionary is unordered and we can only access the data using keys not index.

---

## ***PRACTICAL QUESTIONS***

1. Write a code to create a string with your name and print it.

In [1]:
name = "Ritesh"
print(name)

Ritesh

2.  Write a code to find the length of the string "Hello World".

In [2]:
str1 = "Hello World"
print(len(str1))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
str1 = "Python Programming"
print(str1[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
str1 = "hello"
str1_upper = str1.upper()
print(str1_upper)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [6]:
fruit = "i like apple"
new_fruit = fruit.replace("apple", "orange")
print(new_fruit)

i like apple

6. Write a code to create a list with numbers 1 to 5 and print it.

In [7]:
list1 = [1, 2, 3, 4, 5]
print(list1)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [8]:
list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [9]:
list1 = [1, 2, 3, 4, 5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [10]:
list1 = ['a','b','c','d']
print(list1[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
list1 = [10, 20, 30, 40, 50]
print(list1[::-1])

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
tup1 = (100, 200, 300)
print(tup1)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
tup1 = ('red', 'green', 'blue', 'yellow')
print(tup1[1:])

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
tup1 = (10, 20, 5, 15)
print(min(tup1))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [16]:
tup1 = ('dog', 'cat', 'rabbit')
print(tup1.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [18]:
tup1 = ('apple', 'banana', 'kiwi')
print('kiwi' in tup1)

tup2 = ('apple', 'banana', 'grapes')
print('kiwi' in tup2)

True
False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [19]:
set1 = {'a', 'b', 'c'}
print(set1)

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [20]:
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [21]:
set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [26]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [27]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [30]:
dict1 = {"name": "Ritesh", "age": 21, "city": "Bangalore"}
print(dict1)

{'name': 'Ritesh', 'age': 21, 'city': 'Bangalore'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [36]:
dict1 = {'name': 'John', 'age': 25}
dict1['country']= 'USA'

# or
# dict1.update({'country': 'USA'})

print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [39]:
dict1 = {'name': 'Alice', 'age': 30}
print(dict1['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [40]:
dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop('age')
print(dict1)

{'name': 'Bob', 'city': 'New York'}


25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [43]:
dict1 = {'name': 'Alice', 'city': 'Paris'}
# print('city' in dict1)  #can directly print True or False using this

if('city' in dict1):
  print("exists")
else:
  print("does not exists")

exists

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [47]:
list1 = ["Rakesh", "Ajay", 17, "Suraj"]
tup1 = (1,"Jay", 2.05)
dict1 = {"name": "Ritesh", "age": 21, "city": "Bangalore"}

print(list1)
print(tup1)
print(dict1)

['Rakesh', 'Ajay', 17, 'Suraj']
(1, 'Jay', 2.05)
{'name': 'Ritesh', 'age': 21, 'city': 'Bangalore'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [48]:
list1 = [33, 21, 78, 9, 57]
list1.sort()
print(list1)

[9, 21, 33, 57, 78]

28. Write a code to create a list with strings and print the element at the third index.

In [49]:
list1 = ['Ritesh', 'Ajay', 'Sanjay', 'Manoj', 'Ravi']
print(list1[2])

Sanjay

29. Write a code to combine two dictionaries into one and print the result.

In [51]:
dict1 = {'name1':'Ritesh', 'age1':21, 'city1': 'Bangalore'}
dict2 = {'name2': 'Ravi', 'age2': 22, 'city2': 'Pune' }
dict1.update(dict2)
print(dict1)

{'name1': 'Ritesh', 'age1': 21, 'city1': 'Bangalore', 'name2': 'Ravi', 'age2': 22, 'city2': 'Pune'}

30. Write a code to convert a list of strings into a set.

In [55]:
list1 = ['1','2','2','Ritesh','Ajay','3','Ajay']
convert = set(list1)
print(convert)

{'Ajay', '3', '2', 'Ritesh', '1'}